{% extends 'layout.html.twig' %}
{% block main_body %}

    <div class="containeradminadd">
<h1 class="passwordtitle">Supprimer un dessert</h1>
        <form action="" method="post" id="form">
            <fieldset>
                <label for="Name">Id</label>
                <input type="text" id="name" name="DessertId" data-name="nom" data-required value="">
                <button type="submit" id="button">Valider</button>
            </fieldset>

        </form>
        <table>
            <thead>
            <tr>
                <th>Desserts</th>
                <th>Id</th>
            </tr>
            </thead>
            {% for dessert in desserts %}
                <tr>
                    <td>{{ dessert.Name }}</td>
                    <td>{{ dessert.DessertId }}</td>
                </tr>
            {% endfor %}
        </table>
        <h3><a href="{{ path('menu') }}">Visualiser les changements</a></h3>
    </div>

{% endblock %}