<div id="cart">
<div class="ordertotal grid-2">
<a href="{{ path('payment') }}" class="cart"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a>
{% if ordertotal > 0 %}
<p>{{ (2.50 + ordertotal.Total)|number_format(2, '.', ',') }}€</p>
    </div>

{% endif %}
</div>