{% extends 'layout.html.twig' %}
{% block main_body %}
   <div class="containervalidation">
    <h1 class="passwordtitle">La commande est validée</h1>
    <p>Votre livraison sera effectuée d'ici 30 minutes.</p>
    <p>Bon appétit!</p>
    </div>
{% endblock %}